@tailwind base;
@tailwind components;
@tailwind utilities;


.sweet-alert-actions { margin: 0 2em; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }

.right-gap {
  margin-right: auto;
}